<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      
    <h2>Hello iam from backendd</h2>
   
   <form action="/register" method="post">
        <input type="text" placeholder="name" name="firstname">
        <input type="text" placeholder="name" name="lastname" >
        <input type="email" placeholder="name" name="email" >
       
        <input type="text" placeholder="passwordc" name="gender">
        <input type="number" placeholder="passwordc" name="phone">
        <input type="number" placeholder="passwordc" name="age">
         <input type="password" placeholder="password" name="password">
        <input type="password" placeholder="passwordc" name="confirmpassword">

        <input type="submit" value="manas" placeholder="enter">

    </form>
   
</body>
</body>
</html>